/*using palettes: #475c6c, #8a8583, #eed7a1, #f7efd2, #cd8b62*/
QWidget {
    background-color: "#475c6c";
    color: "#f7efd2";
}

QPushButton#mng:disabled {
    background-color: "#475c6c";
}

QPushButton#vmenu {
    font-size: 16px;
    color: "#f0ebd8";
    background-color: "#8e403c";
    border-radius: 7px;
    min-height: 30px;
    min-width: 200px
}
QPushButton#vmenu:pressed {
    font-size: 16px;
    color: "#f0ebd8";
    background-color: "#475c6c"
}
QPushButton#vmenu:hover {
    border: 2px solid "#fbbb64";
    color: white;
}
QPushButton:disabled {
    font-size: 16px;
    color: "#748cab";
    background-color: "#0d1321"
}

QTextEdit, QLineEdit {
    background-color: "#eed7a1";
    color: "#1E2022"
}

QTableView {
    color: '#162c3c';
}

QTableView::item {
    background-color: "#f7efd2";
}

QTableView::item:alternate {
    background-color: '#eed7a1';
}

QTableView::item:selected {
    background-color: '#867';
}