/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
QWidget {
    /*background-color: "#2E3032";*/
    background-color: "#343938";
    /*color: "#F0F5F9";*/
}

/*.QPushButton#mng {
    min-height: 50px;
    width: 50px;
    max-width: 50px;
}*/
/********************************* Main UI settings ***************************************/
#main {
    background-color: "#323335";
}
/********************************* Main UI settings ***************************************/

/********************************* Buttons UI settings ***************************************/
.QPushButton#vmenu {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B";
    border-radius: 7px;
    min-height: 40px;
    min-width: 207px;
}
.QPushButton#vmenu:pressed {
    font-size: 16px;
    /*font-weight: bold;*/
    color: "#F0F5F9";
    background-color: "#52616B"
}
.QPushButton#vmenu:hover {
    border: 2px solid "#e95420";
}
.QPushButton#vmenu:disabled {
    font-size: 16px;
    color: "#888";
    background-color: "#32414B"
}
/********************************* Buttons UI settings ***************************************/

QLabel {
    color: #F0F5F9;
    font-size: 16px;
}

QLabel:disabled {
    color: #52616B;
}

/********************************* TextEdit UI settings ***************************************/
QTextEdit, QLineEdit {
    background-color: "#F0F5F9";
    color: "#323335";
    font-size: 16px;
}

QLineEdit[readOnly="true"] {
    background-color: "#b9c6cf";
}
/********************************* QListView UI settings ***************************************/
QListView {
    width: 50px;
    color: #F0F5F9;
    font-size: 16px;
}

QListView::item:selected {
    background-color: "#e95420"
}

/********************************* QCheckBox UI settings ***************************************/
QCheckBox::indicator {
    color: "red";
}

QCheckBox::indicator:checked {
    color: "red";
}

/********************************* QDateTimeEdit UI settings ***************************************/
QDateTimeEdit {
    color: #F0F5F9;
    border: 1px solid #424446;
    font-size: 16px;
}

QDateTimeEdit:disabled {
    color: #52616B;
}

.date {
    color: #071;
}

SPAN {
    color: #071;
}

QDateTimeEdit::up-arrow, QDateTimeEdit::down-arrow {
    image: url(img/actdown.png);
    /*border: 1px solid #1E2022B;*/
}

QDateTimeEdit::up-arrow:disabled, QDateTimeEdit::down-arrow:disabled {
    image: url(img/down.png);
}
/********************************* Table UI settings ***************************************/
QTableView {
    border: 1px solid '#f00';
    background-color: "#f0f5f9";
    alternate-background-color: "#c9d6df";
    font-size: 14px;
}

QHeaderView {
    background-color: "#52616B";
    color: "#F0F5F9";
}

QTableView::item {
    /*border: 1px solid "#fd1321";*/
    color: #323335;
}

QHeaderView::section {
    font-size: 16px;
    background-color: #63717a;
    alternate-background-color: "#63717";
}

QTableView::item:alternate {
}

QTableView::item:selected {
    color: #F0F5F9;
    background-color: #e95420;
}

QTableCornerButton::section {
    background-color: #52616b;
}

QTableView::item:hover {

}

QTableView::item:focus {
}
/********************************* Table UI settings ***************************************/

/********************************* TabWidget UI settings ***************************************/
QTabWidget {
    background-color: red;
}

QTabWidget::pane {
    background-color:red;
}

QTabBar:top {
    border: 1px solid white;
}

QTabBar:tab:top {
    min-width: 165px;
}

QTabBar::tab {
    background-color: #282a2c;
    font-size: 16px;
    color: #F0F5F9;
    height: 25px;
    border: 1px solid #424446;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 3px;
    margin-right: 5px;
}

QTabBar::tab:selected {
    background-color: #52616B;
    color: #F0F5F9;
    border-bottom: red;
    /*height: 28px;*/
}

QTabWidget::item {
    color: red;
}
/********************************* TabWidget UI settings ***************************************/

QSpinBox {
    background-color: #F0F5F9;
    color: #323335;
    font-size: 16px;
}

QComboBox {
    background-color: #F0F5F9;
    color: #323335;
    font-size: 16px;
    /*padding: 0px 0px 0px 0px;*/
    /*border: 1px solid red;*/
}

QComboBox::drop-down {
    background-color: #52616B;
    subcontrol-origin: padding;
    subcontrol-position: center right;
    border: 0px;
    margin-right: -2px;
    /*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9, orange - #e95420*/
}

QComboBox::down-arrow {
    image: url(img/actdown.png);
    width: 10px;
    height: 10px;
}

QComboBox:on {
    background-color: #F0F5F9;
}

QComboBox QAbstractItemView {
    selection-background-color: red;
    background-color: #F0F5F9;
    color: #323335;
}
