/*using palettes: #1E2022, #52616B, #C9D6DF, #F0F5F9*/
/*QWidget {
    background-color: "#1E2022";
    color: "#F0F5F9";
}*/

/*.QPushButton#mng {
    min-height: 50px;
    width: 50px;
    max-width: 50px;
}*/

.QPushButton#vmenu {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B";
    border-radius: 7px;
    min-height: 40px;
    min-width: 207px
}
.QPushButton#vmenu:pressed {
    font-size: 16px;
    color: "#F0F5F9";
    background-color: "#52616B"
}
.QPushButton#vmenu:hover {
    border: 2px solid "#fb8b24"
}
.QPushButton#vmenu:disabled {
    font-size: 16px;
    color: "#1E2022";
    background-color: "#32414B"
}
QTextEdit, QLineEdit {
    background-color: "#C9D6DF";
    color: "#1E2022"
}
QHeaderView {
    background-color: "#52616B";
    color: "#F0F5F9";
}
.date {
    color: #071;
}
QTextEdit  {
    color: #071;
}
SPAN {
    color: #071;
}

QTableView {
    border: 1px solid '#f00';
    background-color: "#f0f5f9";
    alternate-background-color: "#c9d6df";
}

QTableView::item {
    /*border: 1px solid "#fd1321";*/
    color: #1E2022;
}

QTableView::item:alternate {
}

QTableView::item:selected {
    color: #F0F5F9;
}

QTableView::item:hover {

}

QTableView::item:focus {
}